<div class="container">
  <div class="ui-g-12 borderStyle">
    <footer class="footer">
      <!-- ** Need to be done later
      ** 3 columns -> logo | linksToPage | otherLinks
        <div class="logoStyle">
          Logo
        </div>

        <div class="linksToPage">
          About
          Projects
          Skills
          Contact
        </div>

        <div class="otherLinks">
          LinkedIn
          GitHub
        </div>

      -->
      <div class="contentFooter">@ Copyright 2018 Peter Krišanda Portfolio</div>
    </footer>
  </div>
</div>
