:host >>> .footer{
  background: rgb(42, 42, 42);
  border: none;
  width: 100%;
  height: 100%;
  min-height: 60px; /* 75px by malo byt pravdepodobne */
  color: #a7a3a3;
  text-align: center;
  font-size: 12px;
}

:host >>> .contentFooter{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

:host >>> .borderStyle{
  padding: 0;
}
