:host >>> .brandbar{
  background: #e3e3e3;
  min-height: 75px;
}

:host >>> .divStyle{
  min-height: 75px;
  height: 100%;
}

:host >>> .languageButton{
  text-align: right;
  min-height: 75px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

:host >>> .ui-button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
  background: #474747;
  color: #fff;
  border: 1px solid #474747;
}

:host >>> .logo{
  text-align: center;
}

:host >>> .verticalAlign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

:host >>> .ui-button:hover{
  background: #6b6b6b;
  color: #fff;
  border: 1px solid #474747;
}
