<div class="container ui-g">
  <div class="ui-g-2"></div>
  <div class="ui-g-8">
    <h1>Projects</h1>

     <p-tabMenu [model]="projectsMenus" [activeItem]="activeItem"></p-tabMenu>
    <!--<p-tabMenu #menuItems [model]="projects" [activeItem]="activeItem" (click)="activateMenu()"></p-tabMenu>-->
      <div class="ui-g">
        daco {{activeItem.label}} {{activeItemIndex}} <br>
          {{selectedName}} <br>
          {{selectedDescription}}
      </div>
      konec

  </div>
  <div class="ui-g-2"></div>
</div>
