html{
  height: 100%;
  margin: 0;
  border: none;
  outline: none;
}

:host >>> body{
  border: 0;
  outline: 0;
  margin: 0;
}

:host >>> .appContent{
  min-height: calc(100vh - 75px);
  border: none;
  outline: none;
}
